.style{
    background-color: rgb(230, 17, 17);
    color: black;
    padding: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 20px;
    padding-right: 20px;
    width: 250px;
    margin: 10px;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 350px;
    border:solid 1px;
    



}